<%-
// noinspection JSUnresolvedVariable
include("_header");
%>

<div class="container">
    <h1>Useless website!</h1>
    <p>
        Welcome to this useless website w/ authentication!
    </p>
    <p>
        Things you almost have to try!
    </p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</div>

<%-
include("_footer");
%>
