<!--suppress JSUnresolvedLibraryURL -->
<div class="flex-grow-1"></div>
<footer class="footer bg-body-tertiary py-3">
    <div class="container text-center">
        <span class="text-muted">Yernar IT-2205 &copy; | MyPages 2024</span>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<%- "</body>" %>
<%- "</html>" %>
