<%- include("_partial/header.ejs") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Welcome to Portfolio Platform</h1>
            <p>Portfolio Platform is a place where you can showcase your work, share your ideas, and connect with the
                community. Whether you're a developer, designer, writer, or any other type of creator, we're here to
                help you share what you create with the world.</p>
        </div>
    </div>
</div>

<%- include("_partial/footer.ejs") %>
